<crud-modal state="$state.current.name.slice(0, $state.current.name.length-1)" toggle="toggleRightModal" action="crudAction"></crud-modal>

  <div class="page-header">
    <h1>{{$state.current.name}}</h1>
    <div class="actions">
      <button class="btn btn-3 btn-3e btn-sm icon-cog btn-edit" ng-if="selectedRow" ng-click="toggleUpdate(selectedRow)">Edit</button>
      <button class="btn btn-3 btn-3e btn-sm icon-remove-2 btn-delete" ng-if="selectedRow" ng-click="deleteData(state, selectedRow._id)">Delete</button>
      <button class="btn btn-3 btn-3e btn-sm icon-plus btn-add" ng-click="toggleCreate()">Create New</button>
    </div>
  </div>

  <div class="inner-content" style="height:80vh;">
    <div ui-grid="gridOptions" ui-grid-selection style="height:100%; width:100%;"></div>
    <div ui-view></div>
    <!--<pre>{{selectedRow}}</pre>-->
  </div>
