<div class="page-header">
  <h1>{{$state.current.name}}</h1>
</div>

<div class="pure-g">

  <div class="widget widget-sm-stat pure-u-1-4">
    <div class="widget-inner green pure-g">
      <div class="pure-u-1-5">
        <i class="fa fa-user"></i>
      </div>
      <div class="widget-content-wrapper pure-u-4-5">
        <div class="widget-title">
          USERS
        </div>
        <div class="widget-content">
          4
        </div>
      </div>
    </div>
  </div>

  <div class="widget widget-sm-stat pure-u-1-4">
    <div class="widget-inner orange pure-g">
      <div class="pure-u-1-5">
        <i class="fa fa-cube"></i>
      </div>
      <div class="widget-content-wrapper pure-u-4-5">
        <div class="widget-title">
          Inventory Items
        </div>
        <div class="widget-content">
          38
        </div>
      </div>
    </div>
  </div>


</div>
