<div class="login-form">
  <span class="input input--ruri">
    <input class="input__field input__field--ruri" type="text" id="input-26" />
    <label class="input__label input__label--ruri" for="input-26">
      <span class="input__label-content input__label-content--ruri">Username</span>
    </label>
  </span>
  <span class="input input--ruri">
    <input class="input__field input__field--ruri" type="password" id="input-27" />
    <label class="input__label input__label--ruri" for="input-27">
      <span class="input__label-content input__label-content--ruri">Password</span>
    </label>
  </span>
  <button class="btn btn-3 btn-3e icon-arrow-right">Login</button>
</div>

<script>
  (function() {
    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
    if (!String.prototype.trim) {
      (function() {
        // Make sure we trim BOM and NBSP
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        String.prototype.trim = function() {
          return this.replace(rtrim, '');
        };
      })();
    }

    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
      // in case the input is already filled..
      if( inputEl.value.trim() !== '' ) {
        classie.add( inputEl.parentNode, 'input--filled' );
      }

      // events:
      inputEl.addEventListener( 'focus', onInputFocus );
      inputEl.addEventListener( 'blur', onInputBlur );
    } );

    function onInputFocus( ev ) {
      classie.add( ev.target.parentNode, 'input--filled' );
    }

    function onInputBlur( ev ) {
      if( ev.target.value.trim() === '' ) {
        classie.remove( ev.target.parentNode, 'input--filled' );
      }
    }
  })();
</script>
