<div id="data-form">

  <span class="input input--ruri" ng-class="{'input--filled': crudData.name.first}">
    <input class="input__field input__field--ruri" type="text" id="add-user-first-name" ng-model="crudData.firstName" />
    <label class="input__label input__label--ruri" for="add-user-first-name">
      <span class="input__label-content input__label-content--ruri">First Name</span>
    </label>
  </span>

  <span class="input input--ruri" ng-class="{'input--filled': crudData.name.last}">
    <input class="input__field input__field--ruri" type="text" id="add-user-last-name" ng-model="crudData.lastName"/>
    <label class="input__label input__label--ruri" for="add-user-last-name">
      <span class="input__label-content input__label-content--ruri">Last Name</span>
    </label>
  </span>

  <span class="input input--ruri" ng-class="{'input--filled': crudData.cohort}">
    <input class="input__field input__field--ruri" type="text" id="add-user-cohort" ng-model="crudData.cohort"/>
    <label class="input__label input__label--ruri" for="add-user-cohort">
      <span class="input__label-content input__label-content--ruri">Cohort</span>
    </label>
  </span>

  <button class="btn btn-3 btn-3e icon-arrow-right" ng-click="crudAction(crudData)">{{action}} {{state}}</button>

  <!--<pre>{{crudData}}</pre>-->
</div>
